body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url(./assets/background.jpg);
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

#converter {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    background-image: url(./assets/imginpbg.avif);
}

label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

select,
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; 
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 16px;
    color: black;
    margin-top: 20px;
}
